{% comment %}
----------------------------------------------------------------------------
  Template: Page
  - Basic Shopify page.
----------------------------------------------------------------------------
{% endcomment %}
<div class="template-page">
  {% section 'collection--hero-banner' %}
  {% section 'collection--promo-banner' %}

  <div class="container">
    <div class="row">
      <div class="col xs12">
        {% section 'collection-template-bc-sf-filter-funding' %}
      </div>
    </div>
  </div>
</div>
