{% comment %}
----------------------------------------------------------------------------
  Template: Trunk shows page
  - Custom Shopify page.
----------------------------------------------------------------------------
{% endcomment %}
<div class="template-trunk-show">
  {% section 'trunk-show' %}
</div>
