{% comment %}
----------------------------------------------------------------------------
  Template: Get to know us page
  - Custom Shopify page.
  {% section 'product-carousel' %}
----------------------------------------------------------------------------
{% endcomment %}
<div class="template-know-us">
  {% section 'know-us' %}
</div>
