{% comment %}
----------------------------------------------------------------------------
  Template: Careers page
  - Custom Shopify page.
----------------------------------------------------------------------------
{% endcomment %}
<div class="template-careers-show">
  {% section 'careers' %}
</div>
