{% comment %}
----------------------------------------------------------------------------
  Template: Visit us page
  - Custom Shopify page.
----------------------------------------------------------------------------
{% endcomment %}
<div class="template-visit">
  {% section 'visit-us' %}
</div>
