{% comment %}
----------------------------------------------------------------------------
  Snippet: Body copy
  - Two column body text shown on the custom page.
----------------------------------------------------------------------------
{% endcomment %}

<div class="body-copy custom-section">
  <div class="container">
    <div class="row no-margin-bottom">
      <div class="col xs12 m5 offset-m1 body-copy__wrap">
        <div class="body-copy__text">
          {{ body_copy_1 }}
        </div>
      </div>
      <div class="col xs12 m5">
        <div class="body-copy__text">
          {{ body_copy_2 }}
        </div>
      </div>
    </div>
  </div>
</div>