{% comment %}
----------------------------------------------------------------------------
  Snippet: Product loyalty
  - Used on the product card and in the product form.
----------------------------------------------------------------------------
{% endcomment %}
<div 
  class="product-loyalty" 
  js-product-loyalty="container"
>
  0
</div>
